build
_build
_sources
_sphinx_design_static
_static

# CMake / build
build/
_skbuild/
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
ASCsoft/

# Binaries
*.dll
*.lib
*.exp
*.pdb
*.obj
*.o
*.so
*.dylib
*.a
*.log
*.exe

# IDE
.vscode/
.vs/